<!--<% if @buses.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    The form contains <%= pluralize(@buses.errors.count, "error") %>.
    </div>
    <ul>
    <% @buses.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

<%= @bus.capacity.each do |caps| %>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 mb-4 mb-lg-0">
          <div class="card bg-dark text-white text-center mb-4">
            <div class="card-body">
            
              <h5 class="card-title">Panel title that wraps to a new line</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
<%end%> -->
