<!--<% if @buses.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    The form contains <%= pluralize(@buses.errors.count, "error") %>.
    </div>
    <ul>
    <% @buses.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> -->