<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Seat Booking Accepted</h1>
  
   <p>Dear <%= @reservation.user_name %>,</p>

  
  <%# <p>Your booking for seat <%= @reservation.seat.seat_no %> has been accepted.
  
  <p>Thank you for choosing our service. We look forward to serving you.</p>

  <p>Best regards,<br>Your Bus Service Team</p>
</body>
</html>
