<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Seat Booking Pending</h1>
  <p>Dear <%= @user.name %>,</p>
  
  <p>Your booking for seat <%= @seat.number %> is currently pending.</p>
  
  <p>We will review your booking request and notify you as soon as possible.</p>

  <p>Thank you for your patience.</p>

  <p>Best regards,<br>Your Bus Service Team</p>
</body>
</html>
