<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Seat Booking Rejected</h1>
  <p>Dear <%= @reservation.user_name %>,</p>
  
  <p>We regret to inform you that your booking for seat has been rejected.</p>
  
  <p>If you have any questions or concerns, please contact our support team.</p>

  <p>Thank you for considering our service.</p>

  <p>Best regards,<br>Your Bus Service Team</p>
</body>
</html>
